<div>
  <form name="viewForm" ng-submit="updateView(key,view)">
    <fieldset class="form-group">
      <table>
        <tr>
          <td>_view:</td>
          <td><input type="text" class="form-control" ng-model="key" required></td>
        </tr>
        <tr>
          <td>_alias:</td>
          <td><input type="text" class="form-control" ng-model="view.alias"></td>
        </tr>
        <tr>
          <td>_description:</td>
          <td><textarea class="form-control" ng-model="view.description"></textarea></td>
        </tr>
        <tr>
          <td>_map:</td>
          <td>
            <!-- {
              useWrapMode : true,
              showGutter: true,
              firstLineNumber: 1,
              mode: 'javascript',
              workerPath: '/assets/ace-builds',
              onLoad: aceLoaded(this)
            } -->
            <div class="form-control" data-ui-ace="ace" ng-model="view.map" required></div>
          </td>
        </tr>
        <tr>
          <td>_reduce:</td>
          <td>
            <select class="form-control" ng-options="reduce as reduce for reduce in reduces" ng-model="view.reduce"></select>
          </td>
        </tr>
        <tr>
          <td>_section:</td>
          <td><input type="text" class="form-control" ng-model="view.section"></td>
        </tr>
        <tr>
          <td>_show_threshold:</td>
          <td><input type="number" class="form-control" ng-model="view.show_threshold"></td>
        </tr>
        <!-- <tr>
          <td>_group:</td>
          <td>
            <select class="form-control" ng-options="val as val for val in [true,false]" ng-model="view.group"></select>
          </td>
        </tr> -->
        <tr>
          <td colspan="2">
            <button type="submit" class="btn btn-primary right" ng-class="{disabled: viewForm.$invalid || saving}">
              <i class="fa fa-fw fa-spin fa-spinner" ng-show="saving"></i> Update View
            </button>
          </td>
        </tr>
      </table>
    </fieldset>
    <!-- <fieldset>

    </fieldset> -->
  </form>
</div>
